h3{
	padding: 10px 20px;
	background-color: #eeeeee;
}
.category{
	margin: 32px auto 24px auto;
	border-left: 4px solid #5ae628;
	padding-left: 20px;
}
.item{
	margin: 32px auto 24px auto;
}
.description{
	margin: 16px 16px;
}
.v-separator-16{
	height:16px;
}