<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="">

	<title>単語出現カウンター</title>

	<!-- CSS -->
	<link rel="stylesheet" href="css/default.css" />
	<link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../lib/bootstrap/css/sticky-footer.css" />
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="../../index.html">教育用ツール集</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>


<div class="container">

	<div class="page-header">
		<h1>単語出現カウンター</h1>
	</div>

	<blockquote>
		<p>単語が、文章中に何回出現したかをカウントします。</p>
		<footer>複数単語は改行して入力してください。</footer>
		<footer>ショートカット 実行:Shift+Enter</footer>
	</blockquote>

	<div class="row">
		<div class="col-md-3">
			<textarea id="text_words"  class="form-control" rows="20" placeholder="単語リスト"></textarea>
			<button class="btn btn-default" id="submit">実行</button>
		</div>

		<div class="col-md-9">
			<textarea id="text_sentence"  class="form-control" rows="20" placeholder="文章を入力"></textarea>
		</div>
	</div>

	<div class="row result">
		<div class="col-md-3">
			<ul>
				<div id="result_words"></div>
			</ul>
		</div>

		<div class="col-md-9">
			<div id="result_sentence"></div>
		</div>
	</div>

</div>

<div id="footer">
	<div class="container">
		<p class="text-muted">(c) 2015 iida wataru</p>
	</div>
</div>

<!-- HTML Template -->
<script type="text/template" id="result-template">
	<% cls = (count == 0) ? "word" : "word used"; %>
	<% if (count == 0) { %>
		<% cls = "word"; %>
	<% } else if (strictHit) { %>
		<% cls = "word used"; %>
	<% } else { %>
		<% cls = "word used ambiguous"; %>
	<% } %>
	<li>
		<a href="javascript:void(0)" class="<%= cls %>" value="<%= word %>"><%= word %> (<%= count %>)
		<% if (count > 0 && !strictHit) { %>
			 <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
		<% } %></a>
	</li>
</script>

<!-- JavaScript -->
<script src="../../lib/jquery/jquery-1.11.0.min.js"></script>
<script src="../../lib//underscore/underscore-min.js"></script>
<script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
<script src="js/storage.js"></script>
<script src="js/word_counter.js"></script>
<script src="js/index.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-13069418-6', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
